<configuration>
    <!-- Définition d'un appender qui écrit dans le fichier batch.log -->
    <appender name="BATCH_FILE" class="ch.qos.logback.core.FileAppender">
        <file>src/main/resources/batch.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger nommé batchLogger -->
    <logger name="batchLogger" level="INFO" additivity="false">
        <appender-ref ref="BATCH_FILE" />
    </logger>

    <!-- Logger racine -->
    <root level="WARN">
        <appender-ref ref="BATCH_FILE" />
    </root>
</configuration>